<nav class="submenu">
  <ul>
    <li class="round">
      <%= link_to_unless_current "Received Items", received_direct_messages_path %>
    </li>
    <li class="round">
      <%= link_to_unless_current "Sent Items", sent_direct_messages_path %>
    </li>
  </ul>
</nav>

<p class="instructions">
  To send a direct message, prepend your micropost with the lowercase letter d
  followed by the recipient's username. For example, given a valid user with
  username "kenneth", you can post:
  <span class="center">"d kenneth this is a sample direct (i.e. private) message"</span>
  <%= link_to "Click here", root_path %> to send a direct message.
</p>