/BEGIN users/_follow_form.html.haml

- unless current_user?(@user)
  #follow_form
    - if current_user.following?(@user)
      = render 'unfollow'
    - else
      = render 'follow'

/END users/_follow_form.html.haml
