/BEGIN pages/about.html.haml

%h1 About Us
%p
  %a{:href => "http://railstutorial.org/"} Ruby on Rails Tutorial
  is a project to make a book and screencasts to teach web development with
  %a{:href => "http://rubyonrails.org/"} Ruby on Rails.
  This is the sample application for the tutorial.

/END pages/about.html.haml
