/BEGIN pages/help.html.haml

%h1 What's changed
%p
  As promised in the home page, here's what you can do to help you find out how
  far this instance of the application has gone from the original version.
  Actually, it's easy. Simply
  %a{ :href => "https://github.com/kltcalamay/sample_app/compare/original-version...master"} click here.

/END pages/help.html.haml
